*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.navbar navbar-expand-lg bg-body-tertiary{
    background-color: black;
}

.internacional{
    text-align: center;
    flex-wrap: wrap;
    position: relative; top: 150px;
}

.mundial{
    text-align: center;
    flex-wrap: wrap;
    position: relative; top: 50px;
}

.cuerpo{
    position: relative; top: 0px;
    width: 1400px;
    height: 600px;
    margin: 0;
}

.chart{
    position:relative; top: 50px;
}

.futbolin{
    width: 1500px;

}

.encuentro{
    color: orange;
    position: relative; top: 450px;
    text-align: center;
    margin-right: auto;
    padding: 40px;
    flex-wrap: wrap;
}




.pie-pagina{
    width: 1510px;
    background-color: grey;
    background-size: cover;
    height: 300px;
    display:flex;
    flex-wrap: wrap;
    position: relative; top: 100px
}

.logo-pie{
    position: relative; top: 50px;
    width: 400px;
    height: 200px;
    margin-left: 0px;
    flex-wrap: wrap;
    padding: 40px;
}

.herramientas{
    color: black;
    text-decoration: none;
    padding: 20px;
    position: relative; top: 130px;
    align-items: center;
    flex-wrap: wrap;

}

.donde{
    color: black;
    text-decoration: none;
    padding: 20px;
    font-family: 'Amaranth', sans-serif;
    flex-wrap: wrap;
}

.nuestras{
    color: black;
    text-decoration: none;
    padding: 20px;
    font-family: 'Amaranth', sans-serif;
    flex-wrap: wrap;
}

.asesoramos{
    color: black;
    text-decoration: none;
    padding: 20px;
    font-family: 'Amaranth', sans-serif;
    flex-wrap: wrap;
}

.siguenos{
    color: black;
    text-decoration: none;
    padding: 20px;
    font-family: 'Amaranth', sans-serif;
    position: relative; top: 110px;
    margin-left: 100px;
    font-size: xx-large;
    flex-wrap: wrap;
}

.red-social{
    position: relative; top: 130px; right: 10px;
    margin-right: 10px;
    flex-wrap: wrap;

}

.grupo2{
    color: black;
    text-decoration: none;
    padding: 20px;
    font-family: 'Amaranth', sans-serif;
    flex-wrap: wrap;
}

.fa-facebook{
    color: black;
    padding: 15px;
    text-decoration: none;
    flex-wrap: wrap;
}

.fa-instagram{
    color: black;
    padding: 15px;
    text-decoration: none;
    flex-wrap: wrap;
}

.fa-twitter{
    color: black;
    padding: 15px;
    text-decoration: none;
    flex-wrap: wrap;
}

.fa-youtube{
    color: black;
    padding: 15px;
    text-decoration: none;
    flex-wrap: wrap;
}